@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif
}

@theme {
  /* Dark Theme */
  /* Coffee Bean */
  --color-background-Coffee: #1A1110;
  /* Card */
  --color-surface-dark: #4A3B39;

  --color-text-dark: #F8FAFC;

  --color-shadow-dark: #000000;

  --color-primary: #F59E0B;
  /* Orange */
  --color-primary-hover: #D97706;

  /* Light Theme  */
  --color-background-gray: #E5E4E2;
  --color-surface-light: #FFFFFF;
  --color-text-light: #111827;
  --color-shadow-light: #D1D5DB;

  --color-primary: #F59E0B;
  --color-primary-hover: #D97706;
}